.professional-div {
  border-radius: 15px;
  width: 80%;
  height:250px;
  background-color: rgb(67, 141, 204);
  box-shadow: 1px 1px 10px;
  margin:auto;
}
.professional-picture-div{
  background-color: yellow;
  width: 15%;
  float:left;
}
.professional-info {
  background-color: red;
  margin-left: 15%;
  text
}
.professional-picture {
  border-radius: 50%;
}
