<section class="professional-div" *ngFor="let professional of professionals; index as i; last as isLast">
  <div class="professional-picture-div">
    <img class="professional-picture" [src]="professional.picture">
  </div>
  <div class="professional-info">
    <h2>{{professional.name}}</h2>
    <h3>{{professional.languages}}</h3>
    <h3>{{professional.experience}}</h3>
  </div>
  <div>
    <h3>{{professional.location}}</h3>
    <input #date type="datetime-local" value="2017-11-16T08:30">
    <br>
    <span class="price">Price: {{professional.price}}</span>
    <br>
    <button type="button" style="margin-top:0.5em;margin-bottom:0.5em;" (click)="onSelect(professional, date.value)">Make an appointment</button>
  </div>
  <br>
  <button *ngIf="isLast && !clicked" style="margin-bottom: 2em;width:80%;height:50px;" (click)="showAllProfessionals(); clicked=true;" >See all professionals</button>
</section>
