<!--The content below is only a placeholder and can be replaced.-->


<div style="text-align:center; ">
  <!--header start from here-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
   <div class=header>
    <span style="float: left; padding-bottom: inherit"><img src="../assets/logo.jpg"></span>
     <span style="font-family:monospace;color:white;font-style:bold;"><h1>{{title}}</h1></span>
    </div>   
    <!--body start form here-->    
 <div class = body >

    <div class=box>
    <div class = formstyle>
    
   


    <input type="text" id="name" name="name" placeholder="Professional You Want" title="Please enter your Full Name" required="">
    <input type="text" id="name" name="body part" placeholder="please click your body part" title="Please enter your Phone Number" required=""><br>
<select>
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="opel">Opel</option>
  <option value="audi">Audi</option>
</select><br>
    <input type="text" id="name" name="phone number" placeholder="location" title="Please enter your Phone Number" required="">
    <input type="text" id="name" name="calander" placeholder="Date You Want" title="Please enter date" required=""><br>
    <input type="checkbox"  id="name" name="more criteria" >More Criteria<br>
       
       <button>search</button>
       
    </div>
     </div>
</div>
   <!--footer start from here-->
    <div class = footer>
        <div style="float: left;color:white">Downlaod Us<br>
        <img src="../assets/store.png"></div> 
   <button class="btn success">LOGIN as <br> Customer</button>
    <div style="align-content: center; color: white;">Follow Us<br>
    <div style="background-color: aliceblue;height: auto;width:70px;margin-left: 48.5%;margin-top:5px;
    "><img src="../assets/facebook.png">&nbsp;<img src="../assets/TwitterPNG.png">&nbsp;<img src="../assets/instagram.png"></div> </div>
    
       
    </div>
</div>
