<div style="text-align:center">
  <div class=header>
    <span style="float: left; padding-bottom: inherit"><img src="../assets/logo.jpg"></span>
    <span style="font-family:monospace;color:white;font-style:bold;"><h1>{{title}}</h1></span>
    <nav>
      <a routerLink="/professionals" routerLinkActive="active">Professionals</a>
      <a routerLink="/search" routerLinkActive="active">Search</a>
      <a routerLink="/login" routerLinkActive="active">Patient login</a>
    </nav>
  </div>
  <br>

  <router-outlet></router-outlet>

</div>
<div class = footer>
  <div style="float: left;color:white">Download us<br>
    <img src="../assets/store.png">
  </div>
  <div style="align-content: center; color: white;">Follow Us<br>
    <div style="background-color: aliceblue;height: auto;width:70px;margin-left: 48.5%;margin-top:5px;">
      <img src="../assets/facebook.png">&nbsp;
      <img src="../assets/TwitterPNG.png">&nbsp;
      <img src="../assets/instagram.png">
    </div>
  </div>
</div>
