<div class = formstyle>
  Type of professional
  <select>
    <option value="Physiotherapy">Physiotherapy</option>
    <option value="Occupational Therapy">Occupational Therapy</option>
    <option value="General Practitioner">General Practitoner</option>
    <option value="Routine Visit">Routine Visit</option>
  </select>
  <br>
  Where is your pain
  <select>
    <option value="Joints">Joints</option>
    <option value="Back">Back</option>
    <option value="Neck">Neck</option>
    <option value="Legs">Legs</option>
    <option value="Ankles">Ankles</option>
    <option value="Hands">Hands</option>
    <option value="Arms">Arms</option>
  </select>
  <br>
  City         <select>
  <option value="Helsinki">Helsinki</option>
  <option value="Oulu">Oulu</option>
  <option value="Porvo">Porvoo</option>
  <option value="Rovaniemi">Rovaniemi</option>
  <option value="Espoo">Espoo</option>
  <option value="Kemi">Kemi</option>
  <option value="Vantaa">Vantaa</option>
  </select><br>
  
  Date of appointment
  <input type="date" name="" value="2017-11-08">
  <br>
  <br>
  <button type="button" name="button" (click)="addedCriteria=true">More Criteria</button>
  <div *ngIf="addedCriteria"  class="criteria">
    Sex <input type="text" name="" value="">
    <br>
    Language <input type="text" name="" value="">
    <br>
    Experience <input type="text" name="" value="">
    <br>
    Studies <input type="text" name="" value="">
    <br>
    Insurance <input type="text" name="" value="">
    <br>
  </div>


  <button (click)="displayProfessionals()">Search</button>

</div>
